html, body {
  height: 100%;
  margin: 0;
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#root {
  height: 100%
}

code {
  font-family: 'Play', sans-serif;
}

.root {
  height: 100%;
}
